/**box.css*/


.box{
	height:5000px;
	width:1600px;
	background-color:gray;
	margin:0 auto;
}

#header_box,#content_box,#footer_box{
	background-color:red;
	height:500px;
	margin-bottom:30px;
}

/*====header区域的修饰===*/
#header_box .header{
	height:30px;
	background-color:green;
	margin-bottom:5px;
}
#header_box .banner_box{
	height:400px;
	background-color:green;
	margin-bottom:5px;
	font-size:50px;
	text-align:center;

}
#header_box .header-nav{
	height:30px;
	background-color:green;
}


#content_box{
	height:500px;
	padding-bottom:20px;
}
/* #content_box:after{
	content:'';
	display:block;
	line-height:0;
	clear:both;
	width:100%;
	
} */

#content_box .bottom{
	height:300px;
	width:300px;
	border:5px solid black;
	/* margin-left:1280px; */
	margin-right:1000px;
	margin-top:250px;
	float:right;
}



#footer_box div{
	width:600px;
	height:300px;
	background-color:blue;
	float:left;
}