/*taoshuju.css*/

/*页面修饰*/


body{
	background-color:blue;
}

#banner_box{
	height:600px;
	background:black url('./images/banner-bg.jpg') no-repeat center;
}

#banner_box .banner-top{
	height:59px;
	border-bottom:1px solid rgba(255,255,255,.2);
}

#banner_box .banner-nav{
	height:100%;
}
#banner_box .banner-nav .logo img{
	width:114px;
	margin-left:20px;
	margin-top:15px;
}

#banner_box .banner-nav .nav li{
	float:left;
	margin-right:45px;
	font-size:15px;
	line-height:57px;
	position:relative;
}
#banner_box .banner-nav .nav li:first-child{
	padding:0 45px 0 50px;
	margin-left:30px;
	margin-right:0;
}
#banner_box .banner-nav .nav li>a{
	display:block;
	border-top:2px solid transparent;
	position:relative;
}
#banner_box .banner-nav .nav li div{
	width:200px;
	height:200px;
	background-color:white;
	/*
		让li内的div 依照li的位置做定位。
		所以li 应该是相对定位
	*/
	position:absolute;
	left:0;
	border-radius:10px;
	display:none;
}
#banner_box .banner-nav .nav li.select_div>a::before{
	content:"";
	display:none;
	width:0;
	line-height:0;
	border:10px solid transparent;
	border-bottom-color:white;
	position:absolute;
	top:39px;
	left:50%;
	margin-left:-10px;
}

/* #banner_box .banner-nav .nav li>i{
	display:none;
	width:0;
	line-height:0;
	border:10px solid transparent;
	border-bottom-color:white;
	position:absolute;
	top:39px;
	left:50%;
	margin-left:-10px;
} */


/*鼠标悬停*/

#banner_box .banner-nav .nav li.select_div:hover>a{
	border-top-color:white;
	/*鼠标:默认(三角号)*/
	cursor:default;
}

#banner_box .banner-nav .nav li.select_div:hover>div,
#banner_box .banner-nav .nav li.select_div:hover>i,
#banner_box .banner-nav .nav li.select_div:hover>a::before{
	display:block;
}
#banner_box .banner-nav .nav li:last-child:hover>a{
	/*鼠标:手型*/
	cursor:pointer;
}
#banner_box .banner-nav .nav li:last-child:hover>a::before{
	display:none;
}





#banner_box .banner-top .right div{
	float:left;
	line-height:57px;
	padding-top:2px;
	font-size:14px;
}
#banner_box .banner-top .right .login{
	margin:0 30px;
}
#banner_box .banner-top .right .language{
	margin:0 20px;
}



/* banner-bottom */
#banner_box .banner-bottom{
	height:auto;
	background-color:transparent;
}	
#banner_box .banner-bottom:after{
	content:"";
	display:block;
	clear:both;
	height:0px;
}
#banner_box .banner-bottom .customized_text{
	width:680px;
	padding:0 20px;
	color:#fff;
}
#banner_box .banner-bottom .customized_text h2{
	line-height:44px;
	margin:115px 0 38px;
	font-size:30px;
}

#banner_box .banner-bottom .customized_text ul{
	background-color:white;
	height:48px;
	border-radius:24px;
	margin-bottom:34px;
}
#banner_box .banner-bottom .customized_text ul li{
	width:170px;
	padding:14px 0;
	font-size:15px;
	line-height:21px;
	float:left;
	position:relative;
}
#banner_box .banner-bottom .customized_text ul li a{
	border-right:1px solid black;
	display:block;
	text-align:center;
	color:black;
}
#banner_box .banner-bottom .customized_text ul li:last-child a{
	border:none;
}

#banner_box .banner-bottom .customized_text ul li a.service{
	border:none;
	position:absolute;
	right:10px;
	top:-10px;
	background-color:#fd8944;
	font-size:12px;
	line-height:20px;
	padding:0 6px;
	border-radius:10px;
}

#banner_box .banner-bottom .customized_text p a{
	color:#fd8944;
	margin-left:5px;
}
#banner_box .banner-bottom .customized_table{
	margin-right:20px;
	width:360px;
	height:405px;
	padding:20px;
	border-radius:10px;
	background-color:white;
	margin-top:55px;
}
#banner_box .banner-bottom .customized_table h1{
	font-size:15px;
	line-height:15px;
	margin-bottom:14px;
	font-weight:normal;
}
#banner_box .banner-bottom .customized_table input[type='text']{
	width:346px;
	border-radius:4px;
	border:1px solid #d9d9d9;
	outline:none;
	padding-left:12px;
	height:28px;
	margin-bottom:10px;
}
#banner_box .banner-bottom .customized_table .platform p{
	line-height:32px;
	margin-bottom:10px;
	font-size:14px;
}
#banner_box .banner-bottom .customized_table .platform div{
	float:left;
	width:90px;
	font-size:12px;
	margin-bottom:12px;
	line-height:16px;
}
#banner_box .banner-bottom .customized_table .platform input[type='text']{
	width:280px;;
}

#banner_box .banner-bottom .customized_table input[type='submit']{
	width:100%;
	height:36px;
	background-color:#fd8944;
	color:#fff;
	border-radius:18px;
	border:none;
	outline:none;
	margin-top:20px;
}


/**************content-box**************/
#content-box{
	background-color:red;
}
#content-box div.my-customer{
	background-color:#f5f5f5;
	padding:50px 0;
	margin-bottom:30px;
}
#content-box div.my-customer .w1180{
	height:300px;
}
#content-box div.my-customer .title{
	text-align:center;
}
#content-box .data-analysis li{
	/*让li的高度随着子元素的高度去变化*/
	overflow: hidden;
	margin-bottom:40px;
}

#content-box .data-analysis li div{
	width: 200px;
	height: 200px;
	border:1px solid red;
	/* float:left; */
}
/*文本的样式在这里设置*/
#content-box .data-analysis li div:first-child{
	background-color: pink;
}
/*图片的样式在这里设置*/
#content-box .data-analysis li div:last-child{
	background-color: yellow;
}
#content-box .data-analysis li:nth-child(2n+1){
	background-color: black;
}

#content-box .data-analysis li:nth-child(2n){
	background-color: gray;
}

/*
	奇数行的li内div的最后一个 右浮动
	偶数行的li内div的第一个   右浮动
*/
#content-box .data-analysis li:nth-child(2n+1) div:last-child,
#content-box .data-analysis li:nth-child(2n) div:first-child{
	float:right;
}

#content-box .data-analysis li:nth-child(2n+1) div:first-child,
#content-box .data-analysis li:nth-child(2n) div:last-child{
	float:left;
}

